:root{
    --font: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --color-grey: #23272A;
    --color-lilla: #8EA1E1;
    --color-bisc: #F6F6F6;
    --tab-icon: "img/favicon.ico";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    display: block;
}

.contenitore{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: #2A5EE8;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
}

.nav{
    list-style: none;
    display: flex;
}


.nav li a{
    display: inline-block;
    padding: 10px 10px;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 100%;
    font-family: var(--font);
    font-weight: bold;
}

.contenitore-del-img{
    background-image: url("img/jumbo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}
.contenitore-del-titolo{
    background-color: transparent;
    width: 50%;
    margin: auto;
    padding: 120px 40px;
    vertical-align: baseline;
}
.titolo{
    font-family: var(--font);
    font-weight: bold;
    font-size: 300%;
    padding-bottom: 40px;
}

.paragrafo{
    font-size: 17px;
    font-family: var(--font);
    font-weight: 350;
    padding-bottom: 40px;
    line-height: 2rem;
}
/* .box{
    width: 100%;
    margin: auto;
} */





.container{
    /* display: flex;
    justify-content: flex-start; */
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    
}
.row{
    display: flex;
    justify-content: center;
    padding: 120px 0;
    background-color: transparent;
}
.row-grey{
    background-color: var(--color-bisc);
}
.row-white{
    background-color: white;
}
.immagine-fianco-sx{
    padding-right: 50px;
}
.immagine-fianco-dx{
    padding-left: 50px;
}
.W-70{
    width: 70%;
}
.W-30{
    width: 30%;
}
.parte-testo{
    font-family: var(--font);
    color: var(--color-grey);
}
.subtitolo{
    font-size: 35px;
    padding-bottom: 30px;
}

.sottoparagrafo{
    font-size: 1rem;
    line-height: 27px;
}

.contenitore-row{
    padding: 50px;
}

.parte-testo.row-4{
text-align: center;
}

.subtitolo.conclusione{
    font-size: 27px;
    text-align: center;
    padding: 30px;
}

.conclusione{
    background-image: url(img/stars.svg);
    background-size: contain;
    background-repeat: none;
    padding-bottom: 20px;
}

.CTA-finale{
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}


footer{
    background-color: var(--color-grey);
    width: 100%;
    color: white;
}
.footer{
    padding: 5% 0;
    width: 920px;
}
.slot{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.slogan-finale{
    color: var(--color-lilla);
    font-family: var(--font);
    font-size: 1rem;
}

.testo-icona{
    font-family: var(--font);
    color: white;
    font-size: 100%;
    display: inline;

}
.freccia{
    color: white;
    text-align: center;
}
.icona-img{
    width: 19px;
    display: inline;
}
.social-bar{
    display: flex;
    color: white;
    padding-top: 20px;
}
.icone-social{
    padding-left: 20px;
}
.fa-brands{
    font-size: 20px;
}
h3{
    font-size: 30px;
}
hr{
    color: var(--color-lilla);
}

.columns{
    display: flex;
    font-family: var(--font);
}

.column {
    padding: 0 40px;
    font-weight: 500;
}
.ul-style-none li{
    list-style: none;
    font-size: .5rem;
    padding: 5px 0;
}

.h5-minititolo{
    color: var(--color-lilla);
    font-size: 16px;
    padding-bottom: 4px;
}

.contenitore-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.btn{
    border-radius: 28px;
    padding: 1rem 2rem;
    border: none;
    font-family: var(--font);
    font-size: 15px;
}

.btn-white{
    background-color: white;
    color: var(--color-grey);
    margin-right: 25px;
}
.icona-a-freccia{
    padding-right: 7px;
    text-align: center;
}

.btn-grey{
    background-color: var(--color-grey);
    color: white;
}
.btn-violet{
    background-color: var(--color-lilla);
    color: white;
}

.btn-small{
    border-radius: 40px;
    font-size: 14px;
    padding: 8px 14px;
}
